.content h1 {
    font-size: 2rem;
    text-align: center;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
}

.pokemon .number {
    color: var(--white-color);
    opacity: 0.8;
    text-align: right;
    font-size: .825rem;
}

.pokemon .name {
    color: var(--white-color);
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types .type {
    color: var(--white-color);
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}

.pokemon .detail img {
    width: 100%;
    max-width: 90px;
    height: 70px;
}

.pagination {
    display: block;
    text-align: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .5rem .75rem;
    margin: .25rem 0;
    font-size: .825rem;
    color: var(--white-color);
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
}

.abilities,
.height,
.weight,
.hp,
.attack,
.defense,
.special-attack,
.special-defense,
.speed {
    display: none;
}

.normal {
    background-color: var(--normal-color);
}

.grass {
    background-color: var(--grass-color);
}

.fire {
    background-color: var(--fire-color);
}

.water {
    background-color: var(--water-color);
}

.electric {
    background-color: var(--electric-color);
}

.ice {
    background-color: var(--ice-color);
}

.ground {
    background-color: var(--ground-color);
}

.flying {
    background-color: var(--flying-color);
}

.poison {
    background-color: var(--poison-color);
}

.fighting {
    background-color: var(--fighting-color);
}

.psychic {
    background-color: var(--psychic-color);
}

.dark {
    background-color: var(--dark-color);
}

.rock {
    background-color: var(--rock-color);
}

.bug {
    background-color: var(--bug-color);
}

.ghost {
    background-color: var(--ghost-color);
}

.steel {
    background-color: var(--steel-color);
}

.dragon {
    background-color: var(--dragon-color);
}

.fairy {
    background-color: var(--fairy-color);
}

/* Responsivo */
@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}